version: "3.8"

services:

  db:
    # image: postgres
    # Building will install the TimescaleDB extension for Postgres
    build:
      context: ./postgres
    container_name: postgres-db-container
    restart: always
    ports:
      - "5433:5432"
    volumes:
      - "./postgres/data:/var/lib/postgresql/data:Z"
      - "./postgres/config:/etc/postgresql/config:Z"
    command:
      - "-c"
      - "config_file=/etc/postgresql/config/postgresql.conf"
    networks:
      - db-net
    environment:
      POSTGRES_PASSWORD: example
      POSTGRES_USER: postgres
      PGDATA: /var/lib/postgresql/data/pgdata

  adminer:
    image: adminer
    container_name: adminer-container
    restart: always
    depends_on:
      - db
    networks:
      - db-net
    ports:
      - "8080:8080"

  grafana:
    #image: quay.io/grafana/grafana-oss:9.0.5-ubuntu
    build:
      context: ./grafana
      args:
        - "GRAFANA_VERSION=9.0.5"
        # https://grafana.com/docs/grafana/next/setup-grafana/installation/docker/#build-with-grafana-image-renderer-plugin-pre-installed
        - "GF_INSTALL_IMAGE_RENDERER_PLUGIN=true"
        - "GF_INSTALL_PLUGINS=grafana-github-datasource 1.0.15,marcusolsson-treemap-panel 2.0.0,pgillich-tree-panel 0.1.9,snuids-trafficlights-panel 1.5.1,fifemon-graphql-datasource 1.3.0,grafana-jira-datasource 1.0.8,grafana-piechart-panel 1.6.2,grafana-clock-panel 2.1.0,grafana-worldmap-panel 0.3.3,digrich-bubblechart-panel 1.2.0,digiapulssi-breadcrumb-panel 1.1.7,digiapulssi-organisations-panel 1.3.1,grafana-clock-panel 2.1.0,grafana-simple-json-datasource 1.4.2"
    container_name: grafana-container
    restart: always
    depends_on:
      - db
    networks:
      - db-net
    ports:
      - "3000:3000"

networks:
    db-net:
      driver: bridge